<% provide(:title, 'Contact') %>
<%= render 'layouts/page_title' %>
<div class="row">
  <div class="large-8 columns border blush">
    <%= form_for @contact do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.text_field :city %>
      <%= f.text_field :phone_number %>
      <%= f.text_area :message %>
      <%= f.submit "Submit", :disable_with => 'Submiting...', class: "button" %>
    <% end %>
  </div>
  <div class="large-3 large-offset-1 columns border lav">
    <div class="row">
      <div class="large-12 small-10 large-centered small-centered columns">
        <img src="<%= @style_seat.image %>">
        <h5><%= @style_seat.title %></h5>
        <p><%= @style_seat.street_address %></p>
        <p><%= "#{@style_seat.city}, #{@style_seat.state} #{@style_seat.zip_code}" %></p>
        <p><%= @style_seat.phone_number %></p>
        <a href="https://www.styleseat.com/katpark" class="button">Book Me</a>
      </div>
    </div>
  </div>
</div>
