<div class="row">
  <div class="large-6 columns">
    <h3>Change Password</h3>
    <%= form_for [:admin, @admin], url: admin_update_password_path, method: "put" do |f| %>
      <%= f.password_field :current_password, label: "Current Password" %>
      <%= f.password_field :password, label: "New Password", :autocomplete => "off" %>
      <%= f.password_field :password_confirmation, label: "New Password Confirmation" %>
      <%= f.submit "Submit", :disable_with => 'Submiting...', class: "button" %>
    <% end %>
  </div>
</div>
