<div class="row">
  <div class="large-6 columns">
    <%= form_for [:admin, @admin] do |f| %>
      <p>Gravatar<br>
      <%= image_tag gravatar(@admin.email, 100) %></p>
      <%= f.email_field :email %>
      <%= f.text_field :name %>
      <%= f.submit "Submit", :disable_with => 'Submiting...', class: "button" %>
    <% end %>
  </div>
</div>
<%= link_to "Change Password", admin_edit_password_path(current_admin) %>
