<div class="large-8 columns">
  <%= form_for [:admin, @post], html: { class: "nice custom" } do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body, size: "0x20", class: "post" %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :author_id, "Author" %>
        <%= f.collection_select :author_id, @admins, :id, :name %>
      </div>
    </div>
    <%= f.check_box :featured, label: " Featured" %><br>
    <%= f.submit :disable_with => 'Submiting Post...', class: "button" %>
  <% end %>
</div>
