<div class="large-8 columns">
  <%= form_for [:admin, @post] do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body, size: "0x20", class: "post" %>
    <%= f.check_box :featured %><br>
    <%= f.submit :disable_with => 'Create Posting...', class: "button" %>
  <% end %>
</div>
