<% provide(:title, @post.title) %>
<%= render 'layouts/page_title' %>
<div class="row">
  <article class="large-12 columns">
    <%= render partial: 'post_info', locals: { post: @post} %>
    <p><%== markdown(@post.body) %></p>
    <div class="social">
      <%= link_to "//pinterest.com/pin/create/button/", data: { :'pin-do' => "buttonPin", :'pin-config' => "above" } do %>
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
      <% end %>
      <div class="fb-like" data-href="http://dev.kat-park<%= url_for(@post) %>" data-width="100" data-layout="box_count" data-show-faces="false" data-send="false"></div>
    </div>
    <hr>
    <%= render 'disqus-thread' %>
  </article>
</div>

<% content_for :postjs do %>
  <%= render 'disqus-comments' %>
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<% end %>

<% content_for :fbjs do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=423545841096316";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>
