<%= form_for [:admin, @image] do |f| %>
  <%= f.label :avatar, "Image #1" %>
  <%= f.file_field :avatar, label: false %>
  <%= f.submit "Upload Image", :disable_with => 'Uploading Image...', class: "button" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Image Name</th>
      <th>Image Type</th>
      <th>Image Size</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @images %>
  </tbody>
</table>
<% unless @images.blank? %>
  <%= will_paginate @images %>
<% end %>
