<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to root_path  do %>
            kat park
            <%= image_tag "kp_logo_grn_sm.png" %>
          <% end %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Contact", new_contact_path %></li>
        <li class="divider"></li>
        <li><%= link_to "About", about_path %></li>
        <li class="divider"></li>
        <% if admin_signed_in? %>
          <li class="has-dropdown"><a href="#"><%= current_admin.email %></a>
            <ul class="dropdown">
              <li><%= link_to admin_root_path do %>
                  <i class="icon-dashboard"></i> Dashboard
                <% end %></li>
              <li><%= link_to "#" do %>
                <i class="icon-user"></i> Profile
              <% end %></li>
              <li><%= link_to  destroy_admin_session_path, method: "delete" do %>
                <i class="icon-signout"></i> Sign Out
              <% end %></li>
            </ul>
          </li>
          <li class="divider"></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
